h1 {
    color: #007bff;
    text-align: center;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 16px;
}
.container {
    border-radius: 10px; 
    box-shadow: 0 4px 20px #0000001a;
    background-color: white;
}
img {
    display: block; 
    margin: 20px auto; 
    border-radius: 8px; 
}
p{
    text-align:center;
    font-size:10px;
}